.navBar {
    margin: 0;
    padding: .3em 0 .3em 0;
    width: 100%;
    text-align: center;
}

.navBar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #d60511;
}

.navBar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
}

.navBar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: .3s background-color;
}

.navBar a:hover {
    background-color: #d60511;
    color: #ffffff;
}

.navBar a.active {
    background-color: #d60511;
    color: #ffffff;
    cursor: default;
}

.navBar a:visited {
    color: #ffffff;
}

body{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    background: #000000;
    color: #ffffff;
    font-family: "Tahoma", Geneva, sans-serif;
}

h1{
    color: #ffffff;
}

a:link {
    color: #d60511;
    text-decoration: none;
}

a:visited {
    color: #d60511;
}

a:hover {
    color: #740122;
}

a:active {
    color: #ffffff;
}


.home{
    display: inline-block;
}
.home h2{
    font-size: 18px;
    text-decoration: double;
    border-bottom: solid 1px #d60511;
    display: block;
    text-align: center;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.leftHome {
    float: left;
    width: 75%;
    min-height: 400px;
}
.leftHome img{
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}

.leftHome p{
    font-size: 18px;
    position: relative;
    vertical-align: middle;
}

.rightHome {
    margin-left: 80%;
    min-height: 400px;
    text-align: center;
}

.usefulLinks{
    width: inherit;
}

.usefulLinks ul {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.usefulLinks a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .3s background-color;
    width: 200px;
}

.usefulLinks a:hover {
    background-color: #d60511;
    color: black;
}

.usefulLinks a.active {
    background-color: #d60511;
    color: black;
    cursor: default;
}

.usefulLinks a:visited {
    color: black;
}

.usefulLinks li {
    width: inherit;
    border-bottom: none;
    background: #9f0511;
    margin-bottom: 2px;
    font-size: 22px;
    margin-left: 0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.grid {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.videoCell {
     text-align: center;
     width: 480px;
     min-height: 360px;
     display: inline-block;
     vertical-align: top;
     margin: 5px;
}

.videoCell h1{
    font-size: 22px;
}

.albumCell {
    text-align: center;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.albumCell ol{
    text-align: left;
}

.bandCell{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.bandCell img{
    width:  300px;
    height: 300px;
}
.bandCell h1{
    font-size: 14pt;
}

.newsArticle{
    overflow: hidden;
}
.newsArticle a{
    text-decoration: none;
}

.newsArticle img{
    width:  220px;
    height: 170px;
    margin-right: 15px;
    float: left;
}
.centerArticlePage {
    width: 75%;
    margin-left: auto ;
    margin-right: auto ;
}
.newsArticlePage{
    text-align: center;
    max-width: 720px;
}
.newsArticlePage h1{
    color: #d60511;
}
.newsArticlePage p{
    text-align: left;
}
.newsArticlePage img{
    width: 100%;
}
.newsArticlePage iframe{
    height: 480px;
    width: 100%;
}

.discography{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;}

.discography h4{
    text-align: center;
    background-color: #d60511;
    border-radius: 25px;
    border: 2px solid #d60511;
    color: black;
    font-size: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bio h1{
    text-align: center;
    background-color: #d60511;
    color: black;
    font-size: 22px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bio img {
    float: right;
    margin: 5px;
}