.center {
    width: 80%;
    margin: 0 auto;
}

.navBar {
    margin: 0;
    padding: .3em 0 .3em 0;
    width: 100%;
    text-align: center;

}

.navBar ul {
    list-style: none;
    /*background-color: #444;*/
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #d60511;
}
.navBar li {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.1em;
    line-height: 40px;
    height: 40px;
    /*border-bottom: 1px solid #888;*/

    /*background-color: #d60511;*/

    /*color: black;*/
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.navBar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: .3s background-color;
}

.navBar a:hover {
    background-color: #d60511;
    color: #ffffff;
}

.navBar a.active {
    background-color: #d60511;
    color: #ffffff;
    cursor: default;

    /*color: black;*/
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.navBar a:visited {
    /*background-color: #f50511;*/
    color: #ffffff;
    /*color: black;*/
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.navBar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
}

body{
    background: #000000;
    color: #ffffff;
    font-family: "Tahoma", Geneva, sans-serif;
}

h1{
    color: #ffffff;
}


a:link {
    color: #d60511;
}

a:visited {
    color: #740122;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

.column {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
}

.left-div {
    float: left;
    width: 80%;
}
.right-div {
    margin-left: 80%;
}

.bioLeft{
    float: left;
    width: 70%;
}
.bioRight{
    margin-left: 70%;
}
.bioLeft h1{
    text-align: center;
    background-color: #d60511;
    color: black;
    /*border-bottom: 1px solid #f50511;*/
    font-size: 22px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bioTable {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 7px;
 }

.videoCell {
     text-align: center;
     font-family: "Arial Black", Gadget, sans-serif;
     width: 480px;
     min-height: 360px;
     display: inline-block;
     vertical-align: top;
     margin: 5px;
}
.bandsGrid{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
.bandCell{
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    /*width: 300px;*/
    /*min-height: 300px;*/
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
/*replace the 2 cells with grid*/
.cell {
    text-align: center;
    width: 200px;
    /*min-height: 300px;*/
    /*border: 1px solid #000;*/
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.cell ol{
    text-align: left;
}
.bandCell img{
    width:  300px;
    height: 300px;
}
.bandCell h1{
    font-size: 14pt;
}

.newsArticle{
    /*border: 1px solid red;*/
    /*padding: 225px;*/
    overflow: hidden;
}
.newsArticle a{
    text-decoration: none;
}

.newsArticle img{
    width:  220px;
    height: 170px;
    margin-right: 15px;
    float: left;
}

.newsArticlePage h1{
    color: #d60511;
}

.discography{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    /*border-radius: 25px;*/
    /*border: 2px solid #f50511;*/
    /*padding: 20px;*/
    /*outline: 0px;*/
    /*border-spacing: 0px;*/
    /*width: 200px;*/
    /*height: 150px;*/
}

.discography h4{
    text-align: center;
    background-color: #d60511;
    /*text-decoration: none;*/
    border-radius: 25px;
    border: 2px solid #d60511;
    /*display: block;*/
    /*transition: .3s background-color;*/
    /*margin-top: -20px;*/
    /*margin: 0;*/
    text-align: center;
    background-color: #d60511;
    color: black;
    /*border-bottom: 1px solid #f50511;*/
    font-size: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


/*.discography h5{*/
    /*text-align: center;*/
    /*background-color: #f50511;*/
    /*text-decoration: none;*/
    /*color: #ffffff;*/
    /*display: block;*/
    /*transition: .3s background-color;*/
/*}*/