.center {
    width: 80%;
    margin: 0 auto;
}

.navBar {
    margin: 0;
    padding: .3em 0 .3em 0;
    width: 100%;
    text-align: center;

}

.navBar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #d60511;
}
.navBar li {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.1em;
    line-height: 40px;
    height: 40px;
}

.navBar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: .3s background-color;
}

.navBar a:hover {
    background-color: #d60511;
    color: #ffffff;
}

.navBar a.active {
    background-color: #d60511;
    color: #ffffff;
    cursor: default;

}

.navBar a:visited {
    color: #ffffff;
}

.navBar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
}

body{
    background: #000000;
    color: #ffffff;
    font-family: "Tahoma", Geneva, sans-serif;
}

h1{
    color: #ffffff;
}


a:link {
    color: #d60511;
}

a:visited {
    color: #740122;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}


.left-div {
    float: left;
    width: 80%;
}
.right-div {
    margin-left: 80%;
}


.bioTable {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 7px;
 }

.videoCell {
     text-align: center;
     font-family: "Arial Black", Gadget, sans-serif;
     width: 480px;
     min-height: 360px;
     display: inline-block;
     vertical-align: top;
     margin: 5px;
}
.videoCell h1{
    font-size: 22px;
}
.bandsGrid{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
.bandCell{
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    /*width: 300px;*/
    /*min-height: 300px;*/
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
/*replace the 2 cells with grid*/
.cell {
    text-align: center;
    width: 200px;
    /*min-height: 300px;*/
    /*border: 1px solid #000;*/
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.cell ol{
    text-align: left;
}
.bandCell img{
    width:  300px;
    height: 300px;
}
.bandCell h1{
    font-size: 14pt;
}

.newsArticle{
    overflow: hidden;
}
.newsArticle a{
    text-decoration: none;
}

.newsArticle img{
    width:  220px;
    height: 170px;
    margin-right: 15px;
    float: left;
}

.newsArticlePage h1{
    color: #d60511;
}

.discography{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;}

.discography h4{
    text-align: center;
    background-color: #d60511;
    border-radius: 25px;
    border: 2px solid #d60511;
    color: black;
    font-size: 20px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bio h1{
    text-align: center;
    background-color: #d60511;
    color: black;
    font-size: 22px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bio img {
    float: right;
    margin: 5px;
}